<div class="card position-relative">
  <button (click)="deleteUser(user.id, $event)" class="delete-btn btn btn-warning">
    X
  </button>
  <div class="user-image">
    <img class="w-100" [src]="user.image" alt="user-avatar">
  </div>

  <div class="card-body user-title">
    <h5 class="m-0">{{ user.name }}</h5>
  </div>

 @if(badges) {
    <div class="user-badges">
    @for (badge of badges; track badge.id) {
      @if (getUserBadgeIds().includes(badge.id)) {
        <img class="user-badge" (click)="alert(getBadgeImage(badge.id))" [src]="badge.image" alt="badge-image">
      }
    }
    </div>
  }

</div>
