<div class="card position-relative">
  <button (click)="deleteUser(user.id, $event)" class="delete-btn btn btn-warning">
    X
  </button>
  <div class="user-image">
    <img class="w-100" [src]="user.image" alt="user-avatar">
  </div>

  <div class="card-body user-title">
    <h5 class="m-0">{{user.name}}</h5>
  </div>

  <div class="user-badges" *ngIf="badges && badges.length > 0">
    <div class="user-badge" *ngFor="let badge of badges">
      <img [src]="getBadgeImage(badge.id)" alt="Badge Image" width="30px">
    </div>
  </div>
</div>